body* {
    outline: 1px solid rgb(226, 17, 52);
}

.box1 {
    width: 1025px;
    height: 900px;
    background: -webkit-linear-gradient(left, rgba(38,14,32,1) 0%, rgba(72,40,57,1) 16%, rgba(148,100,112,1) 52%, rgba(36,20,36,1) 94%, rgba(36,20,36,1) 95%);
    margin: 10px;
}

.jayne {
    min-height: 70px;
    background-color: rgb(235, 220, 220);
}

h1 {
    font-family: comic sans;
    width: 547px;
    display: inline-block;
    margin: 15px;
}

h2 {
    display: inline-block;
    position: absolute;
    width: 420px;
}

.imagen {
    min-height: 350px;
    background-color: rgb(156, 43, 43);
}

#fotome {
    display: inline-block;
    height: 244px;
    width: 444px;
    margin: 25px;
    border: 5px solid rgb(163, 156, 156);
}

.about {
    display: inline-block;
    background: -webkit-linear-gradient(left, rgba(240,214,240,1) 0%, rgba(246,245,246,1) 45%, rgba(246,246,246,1) 47%, rgba(238,235,236,1) 66%, rgba(224,215,218,1) 100%);
    position: absolute;
    width: 497px;
    margin-top: 25px;
}

p {
    display: inline-block;
    padding: 0px;
    color:rgb(32, 29, 29);
}

.noticias {
    min-height: 650px;
    background: -webkit-linear-gradient(left, rgba(38,14,32,1) 0%, rgba(72,40,57,1) 16%, rgba(148,100,112,1) 52%, rgba(36,20,36,1) 94%, rgba(36,20,36,1) 95%);
}

.mensajes {
    display: inline-block;
    width: 300px;
    background: -webkit-linear-gradient(left, rgba(240,214,240,1) 0%, rgba(246,245,246,1) 45%, rgba(246,246,246,1) 47%, rgba(238,235,236,1) 66%, rgba(224,215,218,1) 100%);
    min-height: 610px;
    margin: 10px;
    vertical-align: top;
    text-align: center;
    margin-left: 25px;
}

.fotos {
    width: 100%;
}

h3 {
    background: linear-gradient(rgb(179, 173, 173), rgb(126, 115, 115), rgb(179, 173, 173));
    text-align: left;
    margin-top: 0px;
    color: wheat;
    

}

.icono {
    whidth: 50px;
    height: 50px;
}
.pie{
    text-align: center;
    background-color: rgb(235, 220, 220);;
}
.logo {
    max-width: 15px;
    height: 15px;
}
.redondeado{
    border-radius: 10px;
    color: whitesmoke;
    background-color: rgb(27, 128, 72);
}