@charset "ISO-8859-1";
@charset "ISO-8859-1";
#container {
    width: 900px;
    min-height: 800px;
    border: 1px black;
    margin: 0px auto;
    font-family: "arial";
    background-color: aliceblue;
    padding: 15px;
}

#gold {
    display: inline-block;
}

#goldbox {
    width: 80px;
    height: 15px;
    border-style: solid;
    display: inline-block;
}

.lugar {
    display: inline-block;
    margin: 5px;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

input {
    text-align: center;
}

#consola {
    width: 700px;
    height: 350px;
    border-style: solid;
    background-color: white;
}